.wrapper {
	padding-bottom: 30px;
	overflow: hidden;

}

.categoriesSoon {
text-align: center;

}

.bread {
	display: flex;
	align-items: center;
	margin-left: 22px;
	column-gap: 12px;
	margin-top: 8px;
	height: 50px;
	font-weight: 500;

	a {
		font-size: 15px;
		line-height: 20px;
		color: rgba(112, 117, 121, 1);
		text-decoration: none;
	}

	span {
		width: 4px;
		height: 4px;
		background-color: rgba(0, 0, 0, 0.15);
	}
}

.catList {
	display: grid;
	column-gap: 4px;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	width: calc(100% - 30px);
	margin-top: 10px;
	margin-bottom: 30px;
	margin-inline: 15px;
}

.cardLink {
	text-decoration: none;
	color: black;
}

.catCard {
	cursor: pointer;

	.imgBlock {
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		aspect-ratio: 1;

		img {
			border-radius: 20px;object-fit: cover;width: 100%;
			height: 100%;
		}
	}

	.name {
		text-align: center;
		font-size: 10px;
		line-height: 10px;
		margin-top: 4px;
		color: black;
		text-decoration: none;
	}
}

.catalog {
	padding-inline: 15px;

	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	column-gap: 10px;
	row-gap: 20px;
	margin-top: 6px;
	margin-bottom: 30px;
}


