@font-face {
	font-family: 'SF Pro Display';
	src: url('./assets/fonts/sf/sf-pro-icons_light.woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('./assets/fonts/sf/sf-pro-display_semibold.woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('./assets/fonts/sf/sf-pro-display_bold.woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'SF Pro Icons';
	src: url('./assets/fonts/sf/sf-pro-icons_light.woff2');
}

@font-face {
	font-family: 'H_neue';
	src: url('./assets/fonts/helvetica/HelveticaNeueCyr-Roman.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'H_neue';
	src: url('./assets/fonts/helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'H_neue';
	src: url('./assets/fonts/helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2');
	font-weight: 700;
}

:root {
	--blue-color: #007AFF;
}

.category-preloader {
	width: 100%;
	aspect-ratio: 1;
	background-color: #f5f5f5;
	border-radius: 20px;

	&-text {
		margin-top: 4px;
		height: 10px;
		background-color: #f5f5f5;
		width: 100%;
		border-radius: 10px;


	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'H_neue';

	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Устанавливаем прозрачный цвет подсветки */
	-webkit-tap-highlight-color: transparent; /* Для старых версий браузеров */
	-webkit-tap-highlight-color: none; /* Для Internet Explorer */
}

body {
	margin: 0;
	max-width: 100vw;
	min-width: 320px;
	background-color: #fff;

	&::-webkit-scrollbar {
		display: none;
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

.text-13 {
	font-family: "H_neue";
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: rgba(112, 117, 121, 1);
	padding-inline: 15px;
	text-transform: uppercase;
	margin-left: 15px;
}